body {
  width: 500px;
  padding: 10px;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.125em;
}

*[monospace] {
  font-family: monospace;
}
input[pattern]:invalid {
  color: red;
}

.input-group-addon label {
  margin: 0;
}
.input-group.btns > .btn {
  margin-right: 1em;
}

#shortcut {
  cursor: pointer;
}

.injecterror {
  display: none;
}

body.firefox .checkbox {
  display: none;
}
body.firefox .input-group.btns {
  margin-top: 0.5em;
}
body.firefox p {
  margin-top: 10px;
}
body.firefox #shortcut {
  color: inherit;
  cursor: text;
}
body.firefox #shortcut:hover {
  text-decoration: none;
}
